/* TAGS */
body {
    background-color: black;
}

/* CLASSES */
.blink {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
  }
  
  @-webkit-keyframes blink {
    67% { opacity: 0 }
  }
  
  @-moz-keyframes blink {
    67% { opacity: 0 }
  }
  
  @-o-keyframes blink {
    67% { opacity: 0 }
  }
  
  @keyframes blink {
    67% { opacity: 0 }
  }

.btn{
    border-radius: 32px;
    border-width: 0;
    padding: 5px 20px;
}

/* IDs */

#terminal-full-screen {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#terminal-input {
    font-size: 15px;
    width: 90%;
    border-color: transparent;
    background-color: white;
    bottom: 0;
    padding-left: 0;
    top: initial;
    color: black;
    caret-color: white;
    caret-shape: underscore;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}

#terminal-output {
    font-size: 15px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
}

#dolla-sign {
    color: white;
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}
