body {
    background-color: black;
}

#main-txt {
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1.1px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.blink {
    -webkit-animation: blink 1s step-end infinite;
    -moz-animation: blink 1s step-end infinite;
    -o-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
  }
  
  @-webkit-keyframes blink {
    67% { opacity: 0 }
  }
  
  @-moz-keyframes blink {
    67% { opacity: 0 }
  }
  
  @-o-keyframes blink {
    67% { opacity: 0 }
  }
  
  @keyframes blink {
    67% { opacity: 0 }
  }

.arg-text{
    background-color: black;
    color: white;
    border-color: black;
    border-radius: 0;
    /*width: 90%;*/
    alignment: top;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1.1px;
    font-size: 20px;
}

/*input:focus{*/
/*  outline: none;*/
/*}*/

#github{
    display: inline;
}

.btn{
    border-radius: 32px;
    border-width: 0;
    padding: 5px 20px;
}

.terminal {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}